@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-fundo: #051D3B;
    --branco: #FFFFFF;
    --azul-claro: #6BD1FF;
    --cinza-escuro: #141414;
    --roxo: #5081FB;
    --fonte-inter: "Inter", sans-serif;
    --font-roboto: "Roboto Mono", monospace;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--branco);
    font-family: var(--fonte-inter);
    font-weight: 400;
}
.cabecalho {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 1rem 1.5rem;
}
.cabecalho-lateral {
    width: 20%;
}
.cabecalho-logo {
    width: 50%;
}
.cabecalho-busca {
    width: 60%;
    display: flex;
    align-items: center;
}
.cabecalho-busca input {
    height: 80%;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0rem 0.75rem;
    line-height: 1.5rem;
    border: transparent;
    background-color: rgb(255, 255, 255, 0.16);
    font-family: var(--fonte-inter);
    color: var(--branco);
    
    &::placeholder {
        color: var(--branco);
        opacity: 64%;
    }
}
.cabecalho-lateral-perfil {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: right;
}
.cabecalho-nome-foto {
    width: 2rem;
    height: 2rem;
}
.corpo {
    padding: 1rem 1.5rem;
    display: flex;
    gap: 2.5rem;
}
.menu-lateral {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.menu-lateral-titulo {
    letter-spacing: 0.5rem;
    font-size: 0.75rem;
}
.menu-lateral ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.menu-lateral ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-lateral-imagem {
    width: 4rem;
}
.conteudo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.conteudo-codigo {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--azul-claro);
    border-radius: 0.5rem;
    width: 100%;
    height: 50vh;
}
.botoes-falsos {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    top: 3rem;
    left: 3rem;
    z-index: 1;
}
.circulo {
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
}
.vermelho {
    background-color: #FF5F56;
}
.amarelo {
    background-color: #FFBD2E;
}
.verde {
    background-color: #27C93F;
}
.codigo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    border-radius: 0.5rem;
    background-color: var(--cinza-escuro);
    resize: none;
    color: var(--branco);
    font-family: var(--font-roboto);
    font-size: 0.875rem;
    padding: 3.5rem 1rem 1rem 1rem;
    overflow: hidden;
}
.conteudo-botao {
    background-color: rgba(80, 29, 251, 0.08);
    color: var(--branco);
    border: none;
    border-radius: 1rem;
    height: 3.5rem;
}
.configs {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.configs-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.configs-area input,
.configs-area textarea,
.configs-area select {
    border-radius: 0.5rem;
    padding: 1rem;
    line-height: 1.5rem;
    border: transparent;
    background-color: rgb(255, 255, 255, 0.16);
    font-family: var(--fonte-inter);
    color: var(--branco);
    
    &::placeholder {
        color: var(--branco);
        opacity: 64%;
    }
}
.configs-area textarea {
    resize: none;
}
select option {
    color: var(--cinza-escuro);
}
.configs-cores-borda {
    border: 1px solid var(--branco);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.configs-cores {
    width: 100%;
    height: 3rem;
    background-color: var(--azul-claro);
    border-radius: 0.5rem;
}
.btn-salvar {
    background-color: var(--roxo);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    width: 100%;
}